<div class="container">
  <div class="absolute-center">
    <div class="signupform">
      <h2>Sign Up</h2>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div>
        <label class="right" for="username">Username</label>
        <%= f.text_field :username, autofocus: true, :required => true %>
        </div>


        <div>
        <label class="right" for="email">Email</label>
        <%= f.email_field :email, placeholder: 'you@email.com', :required => true %>

        </div>

        <div>
        <label class="right" for="password">Password</label>
          <%= f.password_field :password, autocomplete: "off", :placeholder =>"8+ characters", :required => true, :pattern => ".{8,}", :title => "Minimum 8 characters" %>
        </div>

        <div>
        <label class="right" for="password_confirmation">Confirm Password</label>
          <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder =>"8+ characters",  :required => true, :pattern => ".{8,}", :title => "Minimum 8 characters" %>
        </div>
        <%= devise_error_messages! %>
        <div><%= f.submit "Sign Up", :class => "button invert" %></div>

      <% end %>
    </div>
  </div>
</div>
