<div class="container">
  <div class="absolute-center">
    <div class="signupform">
      <h2>Sign Up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

         <div>
        <%= f.text_field :username, autofocus: true, placeholder: 'Username' %></div>

        <div>
        <%= f.email_field :email, placeholder: 'Email' %></div>

        <div>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %></div>

        <div>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %></div>

        <div><%= f.submit "Sign Up" %></div>
      <% end %>
    </div>
  </div>
</div>
