<div class="modal-bg">
  <div class="absolute-center-export">
      <h3>Copy this link to share your work</h3>
      <%= text_field_tag 'share_url', "#{root_url}stories/#{@story.share_url}/share", disabled: true, class: 'sharebox' %><br>
      <hr>
      <h3>Export<h3>
      <%= form_tag("/stories/#{params[:id]}/export") do %>
        <div class="radio">
          <%= radio_button_tag(:filetype, "rtf", checked: true) %>
          <%= label_tag(:rtf, "RTF", :value => 'rtf') %>
          <%= radio_button_tag(:filetype, "pdf") %>
          <%= label_tag(:pdf, "PDF", :value => 'pdf') %>
          <%= radio_button_tag(:filetype, "md") %>
          <%= label_tag(:pdf, "Markdown", :value => 'md') %>
          <%= submit_tag 'Export' %>
        </div>
        <%= link_to raw('<i class="fa fa-close"></i>'), '#', class: 'close' %>
      <% end %>
  </div>
</div>
