<h1 class="story-name"><%= @story.name %></h1>
<%= link_to "Export", root_path, class: 'button export' %>
<%= render 'stories/export' %>

<div id="frame">
  <div class="slidee">
    <div class="column" data-depth="0">
      <input type="text" class="sentence" data-id="" data-position="1" data-parent-id="" placeholder="The Beginning"></input>
      <input type="text" class="sentence" data-id="" data-position="2" data-parent-id="" placeholder="The Conflict"></input>
      <input type="text" class="sentence" data-id="" data-position="3" data-parent-id="" placeholder="The Resolution"></input>
    </div>
  </div>
</div>


<script type="text/template" class="template" id="column-template">
  <div class="column" data-depth="{{ depth }}">
</script>

<script type="text/template" class="template" id="sentence-template">
<input type="text" class="sentence" data-id="{{ sentence_id }}" data-position="{{ position }}" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
</script>

<script type="text/template" class="template" id="cue-template">
  <h3 class="cue" data-parent-id="{{ parent_id }}">{{ cue }}</h3>
</script>

<script>
  var story = <%= raw json_escape(@story.to_json) %>;
  var sentencesJson = [];
  <% if @story.sentences %>
  sentencesJson = <%= raw json_escape(@story.sentences.order(:depth, :parent_id, :position).to_json) %>
  <% end %>
</script>


