<h1 class="story-name" contenteditable='true'><%= @story.name %></h1>

<div class="controls">
  <span class="save-indicator">Saved</span>
  <%= link_to raw('<i class="fa fa-share"></i>'), root_path, class: 'button export round' %>
</div>
<%= render 'stories/export' %>

<div id="frame">

  <div class="slidee">
    <div data-step='1' data-intro='Welcome to Three Sentences! Here, you see there are three lines to enter new sentences.' class="column" data-depth="0" id="column-0">
      <input data-intro='Here is the top line, which is used to start the introduction to your story. This line is meant to encapsulate your introduction in one sentence.' data-step='2' type="text" class="sentence" data-id="" data-position="1" data-parent-id="" data-depth="0" placeholder="The Beginning"></input>
      <input data-intro='Enter a line that summarizes the conflict of your story here.' data-step='3' type="text" class="sentence" data-id="" data-position="2" data-parent-id="" data-depth="0" placeholder="The Conflict"></input>
      <input data-intro='And here is where you write your conclusion. Watch what happens when you enter a sentence.' data-step='4' class="sentence" data-id="" data-position="3" data-parent-id="" data-depth="0" placeholder="The Resolution"></input>
    </div>

  </div>
</div>

<div class="column" id="the-end" data-depth="6">
  <div class="end-message">
    <i class="fa fa-book fa-5x"></i>
    <h3>You&#39;re ready to go write your story!<h3>
    <%= link_to "Export", root_path, class: 'button export end' %>
  </div>
</div>

<script type="text/template" class="template" id="column-template">
  <div class="column" data-depth="{{ depth }}" id="column-{{ depth }}">
</script>

<script type="text/template" class="template" id="sentence-template">
<input type="text" class="sentence" data-id="{{ sentence_id }}" data-position="{{ position }}" data-depth="{{ depth }}" data-parent-id="{{ parent_id }}"></input>
</script>

<script type="text/template" class="template" id="cue-template">
  <h3 class="cue" data-parent-position="{{ parent_position }}">{{ cue }}</h3>
</script>

<script>
  var story = new Story(<%= raw json_escape(@story.to_json) %>);
  var sentencesJson = [];
  <% if @story.sentences %>
  sentencesJson = <%= raw json_escape(@story.sentences.order(:position).to_json) %>
  <% end %>
</script>
