<div class="container">
  <div class="absolute-center">
    <div class="loginform">
      <h2>Log In</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div><%= f.email_field :email, autofocus: true, placeholder: 'Email' %></div>

        <div><%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %></div>

        <% if devise_mapping.rememberable? -%>
          <div id="rememberme"><%= f.check_box :remember_me %><span id="remember">remember me</span></div>
        <% end -%>

        <div><%= f.submit "Log In" %></div>

      <% end %>
    </div>
  </div>
</div>
